:root {
    --p-color: 225, 0, 255;
    --s-color: 127, 0, 255;
    --sd-color: #551C98;
    --a-color: #e74c3c;
    --t-color: #C6C6C6;
    --b-color: #010108;
    --wwa-color: #C995F9;
    --services: #251C30;
    --f-color: #292929;
    font-family: 'Inter', sans-serif;


}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}
html{
    scroll-behavior: smooth;
}
* {
    color: #fff;
    text-decoration: none !important;
    transition: 0.3s ease-in-out all;
    font-family: 'Inter';
}

body {
    background: #000;
}

ul li {
    list-style: none;
}

/*---- header -----*/
.header {
    padding-top: 6rem;
    background: url(../images/header-background.jpg) no-repeat;
    background-size: cover;
    text-align: center;
}

.header h1 {
    font-family: 'Inter';
    font-weight: 900;
    text-align: center;
    font-size: 75px;
}

.header h1 span {
    background: linear-gradient(235.81deg, rgba(var(--p-color), 1) 20.53%, rgba(var(--s-color, 1)) 86.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#vp {
    font-weight: 700;
    margin: 2rem 0;
    color: #fff;
    background: rgba(var(--s-color), 1);
    padding: 12px 36px 12px 36px;
    border-radius: 20px;
    display: inline-block;
}

#vp:hover {
    padding-inline: 50px;
    opacity: 0.7;
    color: #fff;
    /*transform: skew(5deg);*/
    border-radius: 5px 20px;

}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#hd-item img {
    width: 80px;
    height: 80px;
    padding: 15px;
    border-radius: 30%;
    border: 2px solid #fff;
    background: linear-gradient(239.33deg, rgba(var(--p-color), 1) 3.46%, rgba(var(--s-color), 1) 92.21%);
    box-shadow:
        0px 0px 30px 0px #7F43FF,
        0px 0px 4px 0px #FFFFFF38 inset;
}

#hd-item p {
    background: linear-gradient(180deg, #1B0F4E 0%, rgba(27, 15, 78, 0) 100%);
    box-shadow: 0px -21px 30px 0px #7F43FF99;
    border-radius: 15px 15px 0 0;
    font-size: 16px;
    color: var(--t-color);
    padding: 2rem 5rem;
    margin-top: 3rem;
    margin-bottom: 0;
}

#hd-item:hover img {
    opacity: 0.7;
    border-radius: 45%;
}

#hd-item:hover p {
    box-shadow: 0px -21px 30px -5px #7F43FF99;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

#header-end {
    padding-top: 7rem;
    padding-bottom: 1rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -13.21%, #000000 100%);
}

#header-end p {
    font-weight: 400;
    line-height: .36px;
    color: var(--t-color);
    margin-bottom: 2rem;
}

#header-end i {
    border-radius: 100%;
    padding: 7px;
    border: 1px solid #fff;
}

#header-end:hover i {
    color: #fdfdfd;
}

#header-end:hover p {
    font-size: 17px;
    color: #FDFDFD;
    margin-bottom: 1.6rem;
}

#header-end a:hover i {
    opacity: 0.8;
    rotate: calc(360deg);
}

/*----- who we are */
.who-we-are {
    padding-top: 2rem;
    background: var(--b-color);
}

#wwa-title {
    display: flex;
    align-items: center;
    margin: 50px auto;
}

#wwa-title p:first-child {
    color: rgba(var(--s-color), 1);
    font-weight: 400;
}

#wwa-title span {
    color: #fff;
}

#wwa-title #line {
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) -1.52%, rgba(0, 0, 0, 0) 109.98%);
    width: 50%;
    margin-left: 1rem;
}

#wwa-center {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#wwa-center img {
    height: 57px;
    width: 57px;
    background: var(--sd-color);
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 0px #7F43FF, 0px 0px 4px 0px #FFFFFF inset;
    margin-right: 2rem;
}

#wwa-center #text {
    width: 50%;
    margin-bottom: 6rem;
}

#wwa-center #text h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 2rem;
}

#wwa-center #text h1 span {
    background: linear-gradient(235.81deg, rgba(var(--p-color), 1) 20.53%, rgba(var(--s-color), 1) 86.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

#wwa-center #text p {
    font-size: 20px;
    color: var(--t-color);
}

#wwa-end {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 11rem;
}

#image-container {
    position: relative;
    width: 500px;
    height: auto;
    display: inline-block;
}

#main-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

#image-container::before {
    content: "";
    position: absolute;
    top: -16px;
    left: -26px;
    width: 110%;
    height: 110%;
    background: linear-gradient(20deg, rgba(var(--p-color), 1) 3.46%, rgba(var(--s-color), 1) 92.21%);
    box-shadow: -1.15px 1.84px 5.35px 0px rgba(var(--s-color), 1)0E,
        -5.06px 8.08px 11.08px 0px rgba(var(--s-color), 1)16,
        -12.42px 19.83px 22.1px 0px rgba(var(--s-color), 1)1C,
        -23.93px 38.19px 43.32px 0px rgba(var(--s-color), 1)22,
        -40.27px 64.26px 79.65px 0px rgba(var(--s-color), 1)2B,
        -62.12px 99.14px 136px 0px rgba(var(--s-color), 1)38;
    border-radius: 10px;
    transform: rotate(-3deg);
    transition: 0.2s ease-in-out all;
}

#image-container:hover::before {
    transform: rotate(0deg);
}

#image-container:hover img {
    opacity: 0.7;
    transform: rotate(-3deg);
}

#wwa-left p {
    color: var(--t-color);
    font-size: 20px;

}

#wwa-left ul {
    padding-left: 2.2px;
}

#wwa-left ul li {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

#wwa-left ul li i {
    color: var(--wwa-color);
    margin-right: 1rem;
    scale: 1.6;
}

#wwa-left ul li:hover {
    opacity: 0.7;
    transform: scale(1.01);
}

#wwa-left h4 {
    color: var(--wwa-color);
}

/*----- services ------*/

.services {
    position: relative;
    background: var(--services);
    overflow: hidden;
    text-align: center;
}

.services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/service/bg.png') no-repeat center center;
    background-size: auto;
    z-index: 0;
}

.services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.services #title {
    display: flex;
    align-items: center;
    margin: 50px auto;
    color: rgba(var(--s-color), 1);
    font-weight: 400;
}

.services #title span {
    margin-left: 1rem;
    color: var(--t-color);
}

#sname span,
#highlight {
    background: linear-gradient(235.81deg, rgba(var(--p-color), 1) 20.53%, rgba(var(--s-color), 1) 86.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 800;
}

#stext {
    margin-top: 2rem;
    width: 50%;
    line-height: 25px;
    color: var(--t-color);
    margin-bottom: 4rem;
}

#ser-items {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 6rem;
}

#sitem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

#sitem img {
    width: 50px;
    height: 50px;
}

#sitem h3 {
    background: linear-gradient(180deg, rgba(var(--p-color), 1) 0%, rgba(var(--s-color), 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

#sitem a {
    font-style: italic;
    color: #fff;
}

#sitem i {
    font-style: italic;
}

#sitem a:hover {
    opacity: 0.7;
}

#sitem a:hover i {
    margin-left: 15px;
}

/*--------- Process -------*/
.process {
    background: url(../images/header-background.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 6rem;
}

.process #p-title {
    display: flex;
    align-items: center;
    padding: 3rem 0px;
    justify-content: flex-end;
}

.process #p-title p {
    color: rgba(var(--s-color), 1);
    font-weight: 400;
}

.process #p-title span {
    color: #fff;
}

.process #p-title #line {
    height: 1px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) -1.52%, rgba(0, 0, 0, 0) 109.98%);
    width: 80%;
    margin-right: 2rem;
}

.process #p-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
}

.process #p-left {
    width: 40%;
    margin-right: 2rem;
}

.process #p-left h1 {
    font-weight: 700;
}

.process #p-left p {
    color: var(--t-color);
    font-size: 20px;
    line-height: 31px;
    margin-left: 2rem;
}

.process #p-right {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background: #3A8C7E;
    box-shadow: 0px 0px 30px 0px #2E9F8B, 0px 0px 4px 0px #FFFFFF inset;
    object-fit: none;
}

#pro-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pro-item {
    position: relative;
    width: 48%;
    margin-top: -3rem;
    display: flex;
    align-items: center;
}

#pro-item::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 70%;
    border: 1px solid rgba(var(--s-color), 1);
    border-radius: 70px 0;
    border-top: none;
    border-left: none;
    right: 0;
    top: 7rem;
}

#pro-item:nth-child(odd) {
    align-self: flex-start;
}

#pro-item:nth-child(even) {
    align-self: flex-end;
}

/*-----testimonials ------*/
.testimonials {
    background-color: #000000;
}


#testo-title {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

#testo-title p {
    color: rgba(var(--s-color), 1);
    font-weight: 400;
}

#testo-title span {
    color: #fff;
}

#testo-title #line {
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) -1.52%, rgba(0, 0, 0, 0) 109.98%);
    width: 50%;
    margin-left: 1rem;
}

#testo-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#testo-left {
    background: #E64467;
    box-shadow: 0px 0px 30px 0px #E64467, 0px 0px 4px 0px #FFFFFF inset;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    object-fit: none;
    margin-right: 2rem;
}

#testo-right p {
    font-size: 20px;
    color: var(--t-color);
    width: 50%;
    line-height: 24px;
    margin-top: 2rem;
}

#testo-right #vp {
    margin: 1rem 0;
}

#single-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#single-person {
    width: 103px;
    height: 103px;
    border-radius: 100%;
    z-index: 1;
}

#single-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background: linear-gradient(0deg, #161E25, #161E25);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    margin-top: -3rem;
    padding-top: 3rem;
}


#single-box i {
    font-size: 50px;
    color: rgba(var(--s-color), 1);
    margin: 1rem 0;
}

#single-box h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin: 1rem 0;
}

#single-box h3 {
    color: var(--t-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 2rem;
}

#single-box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

/*------ contact -------*/
.contact {
    background-color: #000;
    padding: 2rem 0;
}

.contact h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 1rem 0;
}

#contact-items {
    display: flex;
    margin: 1rem 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#contact-items>div {
    width: 45%;
}

#contact-form {
    height: 550px;
    width: 550px;
    background: #fff;
    border-radius: 25px;
}

#contact-right {
    position: relative;
    width: 100%;
    height: 550px;
    background-image: url('../images/contact/background.png');
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

#contact-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(var(--p-color), 0.7) 32%, rgba(var(--s-color), 0.7) 50%);
    z-index: 1;
    border-radius: 25px;
}

#con-con {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);

}


#con-con img {
    position: relative;
    width: 103px;
    height: 103px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2rem;
}

#con-con h4 {
    color: var(--t-color);
    font-size: 20px;
    line-height: 24px;

}

#con-con p {
    color: var(--t-color);
    font-size: 16px;
    line-height: 19px;

}

.consult {
    padding: 2rem 0;
    background: linear-gradient(#000 60%, var(--f-color) 30%);
}

.consult .container {
    background: linear-gradient(230deg, rgba(var(--p-color), 1) 40%, rgba(var(--s-color), 1) 70%);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
}

.consult h1:first-child {
    font-size: 43px;
    font-weight: 700;
    line-height: 63px;
}

.consult h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
}

.consult #con-buttons {
    margin: 2rem auto;
}

.consult a {
    padding: 10px 2rem;
    background: #fff;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 700;
    line-height: 19px;
    color: rgba(var(--s-color), 0.7);
}

.consult a:last-child {
    color: #fff;
    background: rgba(var(--s-color), 1);
    margin-inline: 1rem;
}


.consult a:last-child:hover {
    opacity: 0.7;
}

/*--------- footer -------------*/
.footer {
    background: var(--f-color);
    padding: 2rem 0;
}

.footer .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.footer .container>* {
    width: 40%;
}

.footer h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 1rem 0;
}

.footer p {
        width: 17rem;
}

.footer p,
.footer a,
.footer li,
.footer span {
    color: var(--t-color);
    font-size: 14px;
    line-height: 16px;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    margin: 1rem 0;
}

.footer ul i {
    color: rgba(var(--s-color), 1);
    font-size: 18px;
    margin-right: 1rem;
}

.footer ul li span {
    display: block;
    margin-left: 2rem;
    margin-top: 5px;
}

/*-------- footer-end ---------*/
.footer-end {
    text-align: center;
    background: #000;
    padding: 1rem 0;
}

.footer-end p {
    color: var(--t-color);
    font-size: 14px;
    margin: 0;
}