@media screen and (min-width: 320px) and (max-width: 768px) { 
    h1 {
        font-size: 30px !important;
        text-align: center;
    }

    .header #vp {
        scale: 1.3;
    }

    .header .container .header-items {
        display: flex;
        flex-direction: column;
    }

    .header .header-items>div {
        margin-bottom: 1rem;
    }

    .header #hd-item img {
        width: 100px;
        height: 100px;
        padding: 1.5rem;
        border-radius: 100% !important;
        opacity: 1 !important;
    }

    .header #hd-item p {
        font-size: 20px;
        padding-inline: 2rem;
    }

    .header #header-end p {
        margin-bottom: 2rem;
        font-size: 25px;
    }

    .who-we-are #wwa-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .who-we-are #wwa-center img {
        height: 80px;
        width: 80px;
        border-radius: 15px;
        margin-bottom: 2rem;
    }

    .who-we-are #wwa-title #line {
        height: 9px;
        width: 30%;
        margin-left: 2rem;
    }


    .who-we-are #wwa-center #text {
        width: 100%;
    }

    .who-we-are #wwa-center #text p {
        font-size: 25px;
        text-align: center;
    }


    .who-we-are #wwa-end {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .who-we-are #image-container {
        width: 75%;
        margin-bottom: 2rem;
    }


    .services #title {
        font-size: 20px;
    }


    .services #stext {
        width: 100%;
        line-height: normal;
        font-size: 20px;
    }

    .services #ser-items {
        display: flex;
        margin-bottom: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .services #sitem {
        flex-direction: column;
        align-items: center;
    }

    body .process #p-title #line {
        height: 5px;
        width: 20%;
    }

    .process #p-title p {
        font-size: 20px;
    }

    body .process #p-left {
        text-align: center;
        width: 90%;
        margin-right: 2rem;
    }

    .process #p-right {
        width: 105px;
        height: 105px;
        padding: 1rem;
    }

    .process #p-left h1 {
        font-size: 50px;
    }

    .process #p-left p {
        font-size: 40px;
        line-height: normal;
        margin-left: 0;
        margin-bottom: 4rem;
    }

    .process #pro-item {
        width: 100%;
        margin-top: 0;
        margin-bottom: 2rem;
        flex-direction: column;
    }

    .process #pro-left p {
        font-size: 20px;
        text-align: center;
    }

    #pro-right img {
        width: 95%;
    }

    #pro-item::before {
        width: 60%;
        height: 50%;
        border-radius: 37px 0;
        top: 12rem;
    }

    .testimonials #testo-title #line {
        height: 5px;
        width: 30%;
    }

    .testimonials #testo-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonials #testo-left {
        margin-bottom: 2rem;
    }

    .testimonials #testo-right {
        text-align: center;
    }

    .testimonials #testo-right p {
        width: 90%;
        text-align: center;
    }

    .testimonials #single-box {
        width: 95%;
    }

    .contact #contact-items {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .contact #contact-items>div {
        width: 90%;
        margin-bottom: 2rem;
    }

    .contact #contact-right {
        height: auto;
    }

    .contact #con-con {
        transform: translateY(0);
    }


    body .consult .container {
        padding: 15px;
        width: 90%;
    }

    body .consult .container h1 {
        font-size: 18px !important;
    }

    body .consult #con-buttons {
        margin: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body .consult #con-buttons>a {
        margin-bottom: 15px;
    }

    .consult a:last-child {
        border: 1px #fff solid;
        border-radius: 81px;
    }


    body .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body .footer .container>* {
        width: 100%;
        text-align: center;
    }

    .footer .container p {
        width: 100%;
    }






    body .footer .container {
        display: flex;
        flex-direction: column;
    }


}
@media screen and (min-width: 768px) and (max-width: 1025px) { 

    h1 {
        font-size: 40px !important;
    }

    .header #hd-item p {
        padding: 1rem 3rem;
        margin-top: 3rem;
        margin-bottom: 0;
        margin-inline: 1rem;
    }

    .who-we-are #wwa-center #text {
        width: 100%;
        margin-bottom: 1rem;
    }

    .who-we-are #wwa-end {
        align-items: center;
    }

    .who-we-are #image-container {
        width: 400px;
    }

    .who-we-are #image-container::before {
        top: -10px;
        left: -18px;
    }

    .who-we-are #wwa-left {
        margin-left: 3rem;
    }

    body .process #p-title #line {
        width: 60%;
    }

    body .process #p-left {
        width: 80%;
    }

    body .process #p-text {
        margin-bottom: 2rem;
    }

    body #pro-item {
        flex-direction: column;
        align-content: center;
    }

    body #pro-item {
        margin-top: 2rem;
        width: 80%;
        text-align: center;
    }

    body #pro-item:nth-child(odd),
    body #pro-item:nth-child(even) {
        align-self: stretch;
    }

    body #pro-item::before {
        top: 9rem;
    }

    body .footer .container {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 6rem;
    }







}

@media screen and (min-width: 1025px) and (max-width: 1281px) {
    .header #hd-item p {
        padding: 2rem 2rem;
    }
    .who-we-are #image-container {
        margin-right: 4rem;
    }
    .process #pro-right img {
        width: 110%;
    }

    .process #pro-item::before {
        width: 37%;
        height: 71%;
        border-radius: 39px 0;
        right: -26px;
        top: 4rem;
    }
}
